.food {
	width: 100vw !important;
	height: 50vw !important;
	-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
	background: rgb(0, 0, 0) !important;
	background: rgba(0, 0, 0, 0.99)!important; 
}

.foreground {
	backdrop-filter: blur(10px) !important;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 150px;
    width: 100%;
		color: white !important;
	  font-size: 100px!important;
	font-family: 'Noto Sans Jp', serif !important;
}

.food_input {
	display: inline !important;
	width: 500px !important;
	height: 110px !important;
	border-radius: 20px !important;
	font-size: 50px !important;
	margin-top: 50px !important;
	
}

.search-btn {
	
  width:300px !important;
	height: 110px !important;
	background-color: #075C62 !important;
    font-size: 50px !important;
    font-family: 'Noto Sans Jp', serif !important;
	border-radius: 20px !important;
	margin-left: 50px !important;
	margin-top: 50px !important;
	
	
	
}

.


.Food_result {
   font-size: 50px !important;
}


.food_values {
	margin-top: 60px !important;
	font-size: 50px !important;
}

 .search_div {
	 margin-top: 60px !important;
 	margin-left: 63px !important;
 }

 .icon {
  position: absolute !important;
  left: 10px !important;
  top: 10px !important;
  color: white !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
}